@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1, h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #109CEB;
    text-align: center;
}

h1 {
    padding: 16px;
    font-size: 56px;
}

h2 {
    font-size: 32px;
    padding: 16px;
}

.sg-logo {
    color: #109CEB;
}

b {
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #E7F5FD;
}

/*

NAVBAR

*/

.navbar {
    min-height: 25vh;
    background-color: #109CEB;
}

.nav__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.sg-logo__wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sg-logo__crop--container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#sg-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav__link--list {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    gap: 20px;
}

.nav__link--anchor {
    font-size: 24px;
    font-weight: 700;
    color: #E7F5FD;
}

/*

SEARCH

*/

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

input[type="search"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #109CEB;
    outline: none;
    border-radius: 32px;
    width: 32%;
}

button {
    padding: 8px 16px;
    background-color: #E7F5FD;
    color: #109CEB;
    cursor: pointer;
    border: 1px solid #109CEB;
    font-size: 16px;
    border-radius: 32px;
    margin-left: 4px;
}

button:hover {
    background-color: #91D2F7;
}


/*

LANDING PAGE

*/

.sg-img__wrapper {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.sg-img__crop--container, .sg-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*

FOOTER

*/

footer {
    background-color: #109CEB;
    margin-top: 16px;
}

.footer__container {
    text-align: center;
}

.footer__img {
    display: flex;
}

.footer__copyright {
    color: #E7F5FD;
    font-size: 16px;
}

.footer__list {
    margin: 20px 0 24px 0;
}

.footer__links--container {
    padding: 20px;
    padding-top: 360px;
    align-items: center;
    justify-content: center;
}

/*

SMALL PHONES, TABLETS, LARGE PHONES

*/

@media (max-width: 768px) {
    input[type="search"] {
        width: 50%
    }
    #filter {
        width: 300px;
    }
    h1 {
        text-align: center;
    }
    .sg-img__wrapper {
        max-height: 600px;
    }
}

/*

SMALL PHONES, LARGE PHONES

*/

@media (max-width: 550px) {
    input[type="search"] {
        width: 75%
    }
    #filter {
        width: 400px;
    }
    .sg-img__wrapper {
        max-height: 400px;
    }
}