@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.sg-logo {
    color: #109CEB;
}

h3, p {
    color: #08486E;
}

p {
    word-break: break-word;
    font-size: 16px;
    line-height: 1.5;
}

h3 {
    font-size: 28px;
    text-align: center;
}

b {
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #E7F5FD;
}

/*

NAVIGATION

*/

.navbar {
    min-height: 25vh;
    background-color: #109CEB;
}

.nav__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.sg-logo__wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sg-logo__crop--container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#sg-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav__link--list {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    gap: 20px;
}

.nav__link--anchor {
    font-size: 24px;
    font-weight: 700;
    color: #E7F5FD;
}

/*

FILMS

*/  

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.film-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film {
    width: 50%;
}

.film-card {
    background-color: #E7F5FD;
    box-shadow: 0 4px 8px 0 #91D2F7;
    margin: 10px;
    transition: 0.3s;
    cursor: default;
    border-radius: 32px;
    max-width: 300px;
    overflow: hidden;
}

.film-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 16px;
}

.film-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*

SEARCH & FILTER

*/

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

input[type="search"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #08486E;
    outline: none;
    border-radius: 32px;
    width: 32%;
}

button {
    padding: 8px 16px;
    background-color: #E7F5FD;
    color: #08486E;
    cursor: pointer;
    border: 2px solid #08486E;
    font-size: 16px;
    border-radius: 32px;
    margin-left: 4px;
}

button:hover {
    background-color: #91D2F7;
}

#filter {
    padding: 8px 8px;
    border-radius: 32px;
    width: 200px;
    margin-top: 16px !important;
    display: flex;
    margin: auto;
    color: #08486E;
}

.films__loading {
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #08486E;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*

RETURN PAGE

*/

.return__container {
    display: none;
}

.return__title {
    font-size: 62px;
    padding: 64px 8px;
}

.return__link--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.return__link {
    color: #08486E;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #109CEB;
    border-radius: 32px;
    padding: 8px 16px;
    text-align: center;
    width: 24%;
}

.return__link:hover {
    background-color: #109CEB;
    text-decoration: none;
    color: #E7F5FD;
    transform: transition 300ms ease;
}

.return__img--container {
    padding: 32px;
    margin: 16px 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.return__img {
    object-fit: contain;
    width: 100%;
    padding: 32px;
    margin: 16px 16px;
}

/*

FOOTER

*/

footer {
    background-color: #109CEB;
    margin-top: 16px;
}

.footer__container {
    text-align: center;
}

.footer__img {
    display: flex;
}

.footer__copyright {
    color: #08486E;
    font-size: 16px;
}

.footer__list {
    margin: 20px 0 24px 0;
}

.footer__links--container {
    padding: 20px;
    padding-top: 360px;
    align-items: center;
    justify-content: center;
}

/*

SMALL PHONES, TABLETS, LARGE PHONES

*/

@media (max-width: 838px) {
    .return__link {
        width: 32%;
    }
}

@media (max-width: 768px) {
    input[type="search"] {
        width: 50%
    }
    #filter {
        width: 300px;
    }
    .return__link {
        width: 32%;
    }
}

/*

SMALL PHONES, LARGE PHONES

*/

@media (max-width: 550px) {
    input[type="search"] {
        width: 75%
    }
    #filter {
        width: 400px;
    }
    .return__link {
        width: 50%;
    }
}